<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Login</button>
      {% if form.errors %}
      <div class="errors">{{ form.non_field_errors }}</div>
      {% endif %}
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Signup Here</a></p>
  </body>
</html>
